@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Helvetica', sans-serif;
	font-weight: 100;
}

a {
	text-decoration: none;
	color: black;
}

.highlight {
	color: #5ab3af;
}

.active-nav {
	-webkit-filter: drop-shadow(0px 0px 25px #5ab3af);
	-filter: drop-shadow(0px 0px 25px #5ab3af);
}

.gallery-hide {
	display: none;
}

#banner {
	font-family: "Times New Roman", serif;
	text-align: center;
	width: 500px;
	margin: 20px auto;
}

#header {
	font-size: 40px;
	border-bottom: 1px solid black;
	letter-spacing: 15px;
}

#subheader {
	font-size: 25px;
	letter-spacing: 25px;
}

.nls {
	letter-spacing: 0;
}

#navbar {
	background-color: #5ab3af;
	padding: 5px;
	font-family: Georgia, serif;
	font-size: 18px;
	text-align: center;
	word-spacing: 200px;
	margin-bottom: 20px;
}

#navbar a {
	color: white;
	text-decoration: none;
	
	-o-transition: 0.2s;
	-ms-transition: 0.2s;
	-moz-transition: 0.2s;
	-webkit-transition: 0.2s;
}

#navbar a:hover {
	color: #666;
}

#navbar .active {
	color: #666;
}

#content {
	width: 70%;
	margin: 0 auto;
}

#profile {
	font-size: 14px;
	color: #666;		
	text-align: center;
}

#profile img {
	width: 500px;
}

#profile a {
	color: #5ab3af;
	text-decoration: underline;
}

#maincontent {
	width: 100%;
}

#maincontent-nav {
	float: left;
	width: 25%;
	text-align: left;
}

#maincontent-nav img {
	width: 80%;
	margin-top: 50px;
}

.maincontent-header {
	margin: 15px 0px;
	font-size: 18px;
	color: #666;
	text-decoration: underline;
}

#maincontent-content {
	float: right;
	width: 75%;
	margin-bottom: 20px;
}

#maincontent-content img {
	width: 45%;
	margin-right: 10px;
	margin-bottom: 20px;
}

#portfolio-prod {
	display: none;
}

#portfolio-writings {
	display: none;
}

#portfolio-writings img {
	width: 31%;
	border: 1px solid #5ab3af;
}

#achievements-skills {
	font-size: 14px;
	color: #666;
}

#achievements-skills a {
	text-decoration: underline;
	color: #5ab3af;
}

#achievements-academics {
	display: none;
	font-size: 14px;
	color: #666
}

#contact {
	margin: -20px auto;
	width: 600px;
	height: 600px;
	background: url('images/contact/frame.png');
	background-repeat: no-repeat;
	background-position: center top;
}

#contact-header {
	position: absolute;
	height: 100px;
	width: 380px;
	margin-top: 210px;
	margin-left: 110px;
	color: #666;
	text-align: center;
	font-size: 15px;
}

#contact-form {
	text-align: right;
	position: absolute;
	height: 160px;
	width: 300px;
	margin-top: 320px;
	margin-left: 150px;
	color: #666;
}

#contact-form input {
	font-family: 'Helvetica', sans-serif;
	font-weight: 100;
}

#contact-form textarea {
	font-family: 'Helvetica', sans-serif;
	font-weight: 100;
	resize: none;
	border: 1px solid #5ab3af;
}

#contact-form input[type="text"],
#contact-form input[type="email"] {
	width: 160px;
	border: 1px solid #5ab3af;
}

#contact-form input[type="submit"] {
	border: none;
	padding: 5px;
	background-color: #999;
	color: white;
}

#footer {
	width: 20%;
	margin: 0 auto;
	text-align: center;
}

#footer img {
	width: 30px;
}
